* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #333;
    color: white;
    border: 2px solid white;
    margin: 2px;
    font-family: sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.header {

    border: 1px solid white;
    margin: 5px;
    height: 100px;
    width: auto;
    text-align: left;
    background: #333;
    color: #fff;
    /* padding: 10px 0; */
    font-size: small;
}

.logo {
    /* border: 2px solid white; */
    position: relative;
    bottom: 20px;

}

#moto {
    /* border: 1px solid white; */
    font-size: medium;
    font-weight: lighter;
    position: relative;
    bottom: 50px;
}




#logo_image {
    border: 2px solid white;
    /* margin-left: 100px; */
    /* margin-bottom: 100px; */

}

.main {
    border: 1px solid white;
}

#main_nav {
    /* border: 1px solid white; */
    position: absolute;
    right: 40px;
    top: 40px;
    list-style-type: none;
    flex-direction: row;
}

#main_nav li {
    /* border: 1px solid white; */
    float: left;
    margin-left: 2px;
}

#main_nav li a {
    border: 1px solid white;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: grey;
}

#main_nav li a.active,
#main_nav li a:hover {
    background-color: #d4d4d4;
    color: black;
}

/* .responsive {
    width: 100%;
    height: auto;
} */

#about {
    /* border: 2px solid white; */
    margin: 100px;
    /* padding: 50px;
    padding-top: 100px; */
}

#about_list {
    /* border: 2px solid white; */
    /* margin: 10px; */
    padding: 10px;
    position: relative;
    left: 20px;
    ;
}

.article {

    color: white;
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
    font-family: verdana;
    text-align: center;
    display: grid;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 1px;
    margin: 1px;
    /* font-size: 20px; */
}

.grid-item {
    /* border: 1px solid white; */
    padding: 1px;
    font-size: 15px;
    text-align: justify;
    margin: 1px;
    width: 75%;
    position: relative;
    /* bottom: 75px; */
}

.grid-container-primjeri {
    border: 1px solid cyan;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 1px;
    margin: 1px;
    /* font-size: 20px; */
}

.grid-item-primjer {
    border: 1px solid white;
    padding: 1px;
    font-size: 15px;
    text-align: justify;
    margin: 1px;
    width: 100%;
    /* position: relative; */
    /* bottom: 75px; */
}

.opis {
    position: relative;
    bottom: 150px;
    border: 1px solid white;
    font-size: 10px;
}


.aside {
    color: white;
    border: 2px solid rgb(58, 53, 53);
    margin: 5px;
    padding: 5px;
    font-family: verdana;
    text-align: justify;
}


.footer {
    color: white;
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
}

.summary {
    font-weight: bolder;
}

.kontakt {
    font-family: inherit;
    font-size: 20px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;

}

button[type="submit"] {
    display: inline-block;
    background: grey;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: green;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: black;
}



.currencySelector {
    text-align: center;
}


@media (max-width: 686px) {

    .header {

        border: 1px solid white;
        margin: 5px;
        height: 150px;
        width: auto;
        text-align: center;
        background: #333;
        color: #fff;
        /* padding: 10px 0; */
        font-size: medium;
    }

    #moto {
        /* border: 1px solid white; */
        font-size: small;
        font-weight: lighter;
        position: relative;
        text-align: center;
        width: 100%;
        /* bottom: 50px; */
        /* padding-top: 25px; */
    }

    #main_nav {
        /* border: 1px solid white; */
        margin-top: 80px;
        /* margin-right: 80px; */
        position: absolute;
        left: 30px;
        /* text-align: center; */
        /* bottom: 150px; */
        height: 20px;
        /* right: 10px; */
        width: 100%;
    }

    #main_nav li a {
        /* border: 1px solid white; */
        font-size: 14px;
        color: white;
        text-decoration: none;
        padding: 1px 8px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: grey;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1px;
        margin: 1px;
        width: 100%;
        /* font-size: 20px; */
        border: 1px solid red;
    }

    .grid-item {
        /* border: 1px solid white; */
        padding: 1px;
        font-size: 15px;
        text-align: justify;
        margin: 1px;
        width: 100%;
        position: relative;
        /* bottom: 75px; */
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    #about {
        /* border: 2px solid white; */
        margin: 20px;
        padding: 5px;
        /* padding: 50px;
        padding-top: 100px; */
    }



    form {
        padding: 15px;
    }
}