.body {
    background-color: #072036;
    color: white;
    border: 2px solid black;
    margin: 2px;
    padding: 1vw;
    font-family: sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

#main_nav { position:absolute; right:30px; top:40px;} 
#main_nav li { float:left; margin-left:2px; } 
#main_nav li a{ font-size:16px; color:#fff; text-decoration:none; padding:8px 15px; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;} 
#main_nav li a.active, #main_nav li a:hover{ background-color:#0b86cb; }

.responsive {
    width: 100%;
    height: auto;
  }

.header {
    background-color: white;
    color: black;
    border: 2px solid black;
    margin: 5px;
    padding: 1vw;
    text-align: center;
}

.article {
    color: white;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    font-family: verdana;
    text-align: center;
    display: grid;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    padding: 1px;
    margin: 1px;
    font-size: 2vw;
  }

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: inherit;
    text-align: justify;
    margin: 1px;
}

.aside {
    color: white;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    font-family: verdana;
    text-align: justify;
}

.footer {
    color: white;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
}